@tailwind base;
@tailwind components;
@tailwind utilities;

/* primary_color: "#47A992",
        secondary_color: "#25A244",
        green_slate_color: "#D8F3DC",
        sidebar_navbar_bg_color: "#FFFFFF",
        dashboard_content_bg_color: "#F4F7FA",
        text_primary_color: "#324C5B",
        text_secondary_color: "#6C757D",
        text_slate_color: "#E2E8F0",
        text_slate_dark_color: "#64748B",
        text_greengray_color: "#70A973",
        text_primary_dashboard_color: "#49699E",
        border_soft_blue: "#E6EDFF", */